<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Shindy.Data" connectionString="Password=K2AUeNNZxmGaAAfjRNRz6CfYEVtpukPskD2hwPi7itbUN8MY5byBUWhgVJpquyDm;Persist Security Info=True;User ID=pufkyfychaeddmgc;Data Source=e513a041-0196-4ba1-b60b-a1e5010918c3.sqlserver.sequelizer.com" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>